---
import { Image } from 'astro:assets';
import '../styles/custom.css'
import logo_large from '../assets/landing-logo-large.svg'
import logo_small from '../assets/landing-logo-small.svg'
import art1 from '../assets/art_1_v2_dark.png'
import screen1 from '../assets/app_desktop_3.jpg'
import screen1_webp from '../assets/app_desktop_3.webp'
import screen2 from '../assets/app_mobile2.png'
import screen2_webp from '../assets/app_mobile2.webp'
import screen_art from '../assets/app_mobile_art.png'
import flag1 from '../assets/flag_1_transparent.png'
import flag2 from '../assets/flag_2_Crop2.png'
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="x64" />
  <link rel="manifest" href="/site.webmanifest" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>x86-64 playground | About</title>

  <meta name="description" content="An online assembly editor and debugger for the x86-64 architecture. The quickest way to run, debug, and share assembly snippets for a wide range of amd64 assemblers - GNU binutils, Fasm, Nasm" />
  <meta name="keywords" content="Gdb, x86-64, x64, CTF, assembly, debugger, Fasm, Binutils, webassembly, wasm binutils, wasm assembler" />
  <meta name="author" content="https://halb.it" />
  <link rel="canonical" href="https://x64.halb.it/about" />
  <meta name="robots" content="index, follow" />

  <meta property="og:title" content="X86-64 playground" />
  <meta property="og:description" content="An online assembly editor and debugger for the x86-64 architecture. The quickest way to run, debug, and share assembly snippets for a wide range of amd64 assemblers - GNU binutils, Fasm, Nasm" />
  <meta property="og:image" content="https://x64.halb.it/card.jpg" />
  <meta content="1762" property="og:image:width">
  <meta content="1068" property="og:image:height">
  <meta property="og:url" content="https://x64.halb.it/" />
  <meta property="twitter:card" content="https://x64.halb.it/card.jpg" />
  <meta property="og:site_name" content="X86-64 playground" />
  <meta property="twitter:image:alt" content="X86-64 playground" />

</head>
<body>
<header>
  <div class="container">
    <div class="logo">
      <picture>
        <source media="(max-width: 350px)" sizes="1px" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7 1w"/>
        <source media="(min-width: 500px)" width="258" height="67" srcset={logo_large.src}/>
        <img src={logo_small.src} width="67", height="67" alt="x86-64 Playground"/>
      </picture>
    </div>

    <nav>
      <a href="/">Run</a>
      <a href="/getting-started/">Guides</a>
      <a href="https://github.com/robalb/x86-64-playground" class="icon">
        <svg aria-hidden="true" height="23" width="23" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 113 114" xml:space="preserve">
          <path id="svgstar" fill="#FDB54A" d="M65.2 98.5c-.3 7.3-2.4 11-6.6 11.5-3.9.5-6.9-3-8.7-9.2-1.7-5.8-3-12-6-17.1A34.6 34.6 0 0 0 16.7 67C9.5 66.2 7 64 7 58.1c0-3.9 2.5-5 5.3-6 6.1-2.1 12.4-3.7 18.3-6.1 11.1-4.6 16-14 18.5-25.1.6-3 1.2-6 2-9 1.1-3.8 4.5-4.9 7.4-3.7 2.6 1.1 6 3.9 6.3 6.2C67.7 36.3 78.3 47.1 99 51c7.7 1.4 10.5 3.4 10.1 8.1-.4 4.6-5 7.7-11.3 8-6.7.1-12.3 3-17.2 7a40.8 40.8 0 0 0-15.3 24.4z"/>
        </svg>
        Star on GitHub
      </a>
    </nav>


  </div>
</header>


<section class="hero">

  <Image class="hero" src={art1} alt="Logo art" aria-hidden="true" fetchpriority="high" />
  <h1>x86-64 Playground</h1>
  <h2>An online assembly editor and GDB-like debugger</h2>

  <div class="btgroup">
    <a class="action" href="/">Launch the app</a>
    <a href="#introduction">Learn more</a>
  </div>


</section>

<section class="intro">
  <div class="fog">
    <picture>
      <source srcset={screen1_webp.src} type="image/webp" >
      <img class="screen" src={screen1.src} alt="Screenshot of the Playground web app, in the desktop layout size." width={screen1.width} height={screen1.height} loading="lazy" decoding="async" />
    </picture>
  </div>
    <span></span>   
</section>

<section class="features">
      <h3 id="introduction" >Features</h3>
        <p>x86-64 Playground is a web app for experimenting and learning 
          x86-64 assembly.
        </p>
        <p>
        The Playground web app provides an online code editor where you
        can write, compile, and share assembly code for a wide
        range of popular assemblers such as GNU As, Fasm and Nasm.
        </p>
        <p>
        Unlike traditional onlide editors, this playground
          allows you to follow the execution of your program step by step,
        inspecting memory and registers of the running process from a GDB-like interface.
        </p>
        <p>
          You can bring your own programs!
        Drag and drop into the app any x86-64-Linux static executable to run and 
        debug it in the same sandboxed environment, without having to install anything.
        </p>

</section>

<section class="floatleft">
      <h3>Who is this for?</h3>
      <p>The app is for anyone that wants to run amd64 assembly snippets or
          inspect the inner workings of simple Linux ELF files.</p>
      <p>It has been designed with the academic world of binary exploitation in mind;
            The debugger interface offers visualizations similar to the GDB+PwnGDB debugger plugin,
            and all the controls are labelled with the respective GDB commands.
            </p>
            <p>Combined with <a href="https://godbolt.org">Compiler Explorer</a>, this app provides
            a noise-free environment to learn the basics behind the inner workings of a Linux process.
            When you are ready, it includes the guides and resources necessary to keep experimenting
            on your own linux environment, with the actual GDB debugger.
            </p>
</section>

<section class="tilt">
  <div class="row">
    <div class="left">
      <h3>Designed for the web </h3>
      <p>Have you ever seen a responsive debugger?
        The app places the mobile experience at the center of its design,
        and can be embedded in any web page
        to add interactivity to technical tutorials or documentations.
      </p>
      <p>
        Follow the guide to <a href="/"> embed in your website </a> both the asm editor and debugger.
      </p>
    </div>
    <div class="right">
      <Image src={screen_art} alt="Screenshot of the Playground web app, showing the layout on mobile devices." />
    </div>
</section>

<section>
  <h3>Offline-first and open-source</h3>
  <p>
  The app is open-source, and <a href="https://github.com/robalb/x86-64-playground">available on Github</a>.
  It's powered by the <a href="https://github.com/jart/blink/">Blink Emulator</a>,
  which emulates an x86-64-Linux environment entirely client side in your browser.
  This means that all the code you write, or the excutables you debug are never sent to the server.
  </p>
  <p>
  everything runs in your browser, and once the Web App loads it will work 
  without an internet connection.
  </p>
</section>

<style>
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ------------------ */
  /* Intro section      */
  /* ------------------ */
  section.intro{
    margin-top: 3rem;
    max-width: 950px;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  section.intro .fog{
  }
  section.intro span{
    display: none;
  }
  @media screen and (max-width: 600px){
    section.intro img{
      border: 2px solid var(--color-gray-100);
      width: auto;
      height: 400px;
      max-width: 800px;
    }
    section.intro span{
      display: block;
      position: absolute;
      top: 0px;
      z-index: 3;
      height: 100%;
      --border-width: 20px;
      width: 100%;
      background: linear-gradient(90deg, rgba(40,44,56,1) 0%, rgba(0,0,0,0) 36%, rgba(0,0,0,0) 64%, rgba(40,44,56,1) 100%);
      border: 20px solid #282c38;
      border-top: 0;
      border-bottom: 0;
    }
  }


  /* ------------------ */
  /* Flag section       */
  /* ------------------ */
  section.floatleft{
    max-width: 1050px;
  }

  /* ------------------ */
  /* Tilt section       */
  /* ------------------ */
  section.tilt{
    margin-bottom: -3rem;
  }
  section.tilt .row{
    display: flex;
  }
  section.tilt h3{
    text-align: center;
  }
  section.tilt .right img{
    max-width: 320px;
    height: auto;
  }
  @media screen and (max-width: 800px){
    section.tilt .row{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    section.tilt .right img{
      max-width: 320px;
      height: auto;
      margin-top: 3rem;
    }
    
  }


  

  img.hero{
    max-width: 20rem;
    height: auto;
  }
  h1{
    color: var(--theme-primary);
    font-size: 3.5rem;
    line-height: 3rem;
    text-align: center;
    margin: .1rem;
    margin-top: 0;
    font-family: 'Neuton';
  }
  h2{
    color: var(--color-gray-100);
    text-align: center;
    line-height: 1.8rem;
    font-size: 1.3rem;
    font-family: 'Inter';
    font-weight:400;
  }
  h3{
    /* text-align: center; */
    width: 100%;
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: 'Neuton';
  }
  p,ul,li{
    width: 100%;
    line-height: 1.9rem;
    font-size: 1.1rem;
    font-family: 'Inter';
    margin: .4rem;
  }
  p a{
    color: var(--color-gray-100);
    text-decoration-color: var(--theme-primary);
    text-decoration-thickness: 3px;
  }
  p a:hover{
    color: var(--color-gray-0);
  }

  @media screen and (min-width: 600px){
    h1{
      font-size: 3.5rem;
      line-height: 3.5rem;
    }
    h2{
      line-height: 1.8rem;
      font-size: 1.3rem;
    }
  }

  .btgroup {
    padding-top: 1rem;
    margin-bottom: 5rem;
  }
  .btgroup a{
    font-size: 1.0rem;
    font-family: 'Inter';
    font-weight:600;
    text-decoration: none;
    color: var(--color-gray-100);
    padding: .5rem;
    border-radius: 8px;
  }
  .btgroup a:hover{
    color: var(--color-gray-0);
    background-color: var(--color-gray-300);
  }
  .btgroup a.action{
    --blue-gradient: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
    --red-gradient: linear-gradient(to right, #ff5e62, #ff9966);
    --orange-gradient: linear-gradient(to right, #fcb44b, #eb7562);
    color: var(--color-gray-500);
    background: var(--orange-gradient);
    margin-right: 1rem;
  }
  .btgroup a.action:hover{
    border-color: #fefefe;
  }

  img.screen{
    border: 2px solid black;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: contain;
  }

</style>
<script>
    window.goatcounter = {
        path: function(p) { return location.host + p }
    }
</script>
<script data-goatcounter="https://analytics.halb.it/count" async src="//analytics.halb.it/count.js"></script>

</body>
</html>
